<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LunarWay - Responder Tópico</title>
    <link rel="stylesheet" href="/Css/style-add-answer.css">
    <link rel="stylesheet" href="/Css/global.css">
    <link rel="stylesheet" href="/Css/header.css">
    <link rel="stylesheet" href="/Css/footer.css">
</head>
<body>
    <header>
        <section id="navbar">
            <img src="/Imgs/logo.png" alt="LunarWay Logo" id="logo">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/news">Notícias</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li class="<%= visibilityProfile %>"><a><%- username %></a></li>
            </ul>
            <div id="profile">
                <img src="/Icons/icon-user.png" alt="Profile Icon" id="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="hidden">
                    <%- textProfile %>
                </div>
            </div>
        </section>
    </header>

    <div id="form-container">
        <div id="form-content">
            <h1>Responder Tópico</h1>
            <div id="msgError" class="<%= visibilityErrorAnswer %>"><%= msgError %></div>
            <br>
            <form action="/add-answer" method="post">
                <div class="label-float">
                    <label id="topic-description-label" for="topic-description">Resposta:</label>
                    <br>
                    <textarea name="topicDescription" id="topic-description" rows="6"></textarea>
                </div>
                <button type="submit" id="button-add-answer">Adicionar</button>
            </form>
        </div>
    </div>

    <div id="overlay" class="hidden" onclick="toggleDropdown()"></div>
    </main>

    <footer id="footer">
        <div>
            <img src="/Icons/icon-ifc.png" alt="Logo IFC" id="logo-ifc">
            <img src="/Icons/icon-email.png" alt="Icone Email" id="icon-email">
            <p>lunarwaysite@gmail.com</p>
            <a href="PI_2024___Grupo_1.pdf" id="artigo" download>Nosso Artigo</a>
            <a href="#" id="back-to-top">
                <img src="/Icons/icon-up-arrow.png" alt="Icone voltar início" id="icon-up-arrow">
            </a>
        </div>
    </footer>

    <script src="/Js/effects.js"></script>
    <script>
        document.getElementById('back-to-top').addEventListener('click', function(e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>